* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --font-geist-sans: 'Geist Sans', sans-serif;
  --font-geist-mono: 'Geist Mono', monospace;
}

body {
  font-family: 'Times New Roman', Times, serif !important;
}
